.container_content {
    background-color: green;
    width: 720px;
    padding: 20px;
    margin: 20px auto 0 auto;
    box-shadow: 0px 6px 10px;
    border-radius: 5px;
}

fieldset {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    border-color: #c2cbce;
    box-shadow: 2px 2px 2px #c2cbce;
}

/* .container_coach {
    background: #bbb2b0;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(115,105,115,1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(115,105,115,1);
    box-shadow: 5px 5px 10px 0px rgba(115,105,115,1);
    width: 40vw;
    min-height: 25vh;  
    font-weight: bold;
} */

#coach_input {
    height: 30px;
    width: 100%;
    border-radius: 10px;

}

.coach_row {
    padding: 5px;
}

.nav_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}