.container_matchview {
    width: 80vw;
    margin: auto;
}

.table_container {
    display: flex;
    flex-direction: column;
}

.table_cabecalho, .row {
    width: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    text-align: center;
}

.table_cabecalho {
    background: darkblue;
    color: white;
}

.table_container > .row:nth-child(even) {
    background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
    .table_cabecalho {
        display: none;
    }

    .row {
        display: flex;
        flex-direction: column;
        padding-left: 110px;
        justify-content: space-around;
    }

    .home_team, .score, .away_team {
        position: relative;
    }

    .home_team:before, .score:before, .away_team:before, .date:before, .stadium:before, .round:before  {
        font-weight: bold;
        position: absolute;
        margin-left: -110px;
    }

    .home_team:before {
        width: 150px;
        content:"time da casa ";
    }

    .score:before {
        width: 150px;
        content:"resultado";
    }

    .away_team:before {
        width: 150px;
        content:"time visitante ";
    }

    .date:before {
        width: 150px;
        content:"data ";
    }

    .stadium:before {
        width: 150px;
        content:"estádio ";
    }

    .round:before {
        width: 150px;
        content:"rodada ";
    }
}