.container_playerview {
  width: 80vw;
  margin: auto;
}

.table_container {
  display: flex;
  flex-direction: column;
}

.table_cabecalho, .row {
  width: 100%;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
}

.table_cabecalho {
  background: darkblue;
  color: white;
}

.table_container > .row:nth-child(even) {
  background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
  .table_cabecalho {
      display: none;
  }

  .row {
      display: flex;
      flex-direction: column;
      padding-left: 110px;
      justify-content: space-around;
  }

  .name, .age, .team, .position, .starter {
      position: relative;
  }

  .name:before, .age:before, .team:before, .position:before, .starter:before {
      font-weight: bold;
      position: absolute;
      margin-left: -110px;
  }

  .name:before {
      width: 150px;
      content:"nome ";
  }

  .age:before {
      width: 150px;
      content:"idade";
  }

  .team:before {
      width: 150px;
      content:"time ";
  }

  .position:before {
      width: 150px;
      content:"posição ";
  }

  .starter:before {
      width: 150px;
      content:"titular ";
  }
}